<!--EXTIENDO EL LAYOUT-->
{% extends 'layout.html' %}

<!-- ABRO BLOQUE DE LO QUE VA A CAMBIAR, LO QUE SERÁ DISTINTO DEL LAYOUT-->
{% block body %}
<!--LA CLASE ROW ES SOLO PARA ESTILIZAR-->
<div class="row">
    <div class="col-md-5">
        <!-- La funcion get_flashed_messages() nos retorna posibles mensajes que el servidor nos pueda estar mandando-->
        <!--PRIMERO OBTENGO LOS MENSAJES QUE ME ENVIA EL SERVIDOR Y LOS GUARDO EN UN ARREGLO-->
        {% with messages = get_flashed_messages()%}
        <!--COMPRUEBO SI ES QUE EXISTEN MENSAJES-->
        {% if messages %}
        <!--SI EXISTEN MENSAJES ENTONCES LOS RECORRO ATRAVES DE UN CICLO FOR-->
        {% for message in messages%}
        <!--POR CADA MENSAJE RECORRIDO VOY A MOSTRAR UN TEXTO-->
        <!--ESTE ESTILO DE MENSAJE DE ALERTA LO OBTUVE DE https://getbootstrap.com/docs/4.5/components/alerts/ -->
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!--CIERRE DE BLOQUES-->
        {% endfor %} {% endif %} {% endwith %}

        <div class="card card-body">
            <!--formulario hace la peticon POST a traves de esta ruta y este metodo, es decir: Envía el action a esta ruta atraves del metodo post-->
            <form action="/add_product" method="POST">
                <div class="form-group">
                    <input type="text" name="codigo" placeholder="Codigo" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="descripcion" placeholder="Descripcion" class="form-control">
                </div>

                <div class="form-group">
                    <input type="text" name="distribuidora" placeholder="Distribuidora" class="form-control">
                </div>
                <div class="form-group">
                    <input type="number" name="valorVenta" placeholder="Valor venta" id="valorVenta" class="form-control">
                </div>
                <div class="form-group">
                    <input type="number" name="valorCosto" placeholder="Valor costo" id="valorCosto" class="form-control">
                </div>
                <div class="form-group">

                    <button type="submit" class="btn btn-primary btn-block">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-7">
        <!--CREO UNA TABLA PARA MOSTRAR LOS DATOS-->
        <table class="table table-striped table-bordered bg-white table-sm">
            <!--TITULOS DE LA TABLA-->
            <thead>
                <tr>
                    <td>Codigo</td>
                    <td>Descripcion</td>
                    <td>Distribuidora</td>
                    <td>Valor Costo</td>
                    <td>Valor Venta</td>
                    <td>Porcentaje Ganancias</td>
                    <td>Operaciones</td>
                </tr>
            </thead>
            <!--CUERPO DE LA TABLA-->
            <tbody>
                <!--PARA UN PRODUCTO EN EL ARREGLO DE PRODUCtOS QUE OBTENGO DESDE EL SERVIDOR, VOY A HACER ALGO-->
                {% for producto in productos%}
                <!--CREO FILA POR CADA DATO QUE EXISTA-->
                <tr>
                    <!--el numero despues del punto representa la posicion del dato en el arreglo-->
                    <td>{{ producto.1 }}</td>
                    <td>{{ producto.2 }}</td>
                    <td>{{ producto.3 }}</td>
                    <td>{{ producto.4 }}</td>
                    <td>{{ producto.5 }}</td>
                    <td>{{ producto.6 }}</td>
                    <!--Tambien debo crear las celdas de los botones de OPERACIONES (en realidad son enlaces que lucen como botones)-->
                    <td>
                        <a href="/edit/{{ producto.0 }}" class="btn btn-secondary">Editar</a>
                        <a href="/delete/{{ producto.0 }}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
</div>









<!--CIERO BLOCQUE-->
{% endblock %}